<% if @attendances.present? %>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-title">勤怠修正ログ</div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <td colspan="8">変更前</td>
                <td colspan="8">変更後</td>
              </tr>
              <tr>
                <td rowspan="2">日付</td>
                <td rowspan="2">曜日</td>
                <td colspan="2">出社</td>
                <td colspan="2">退社</td>
                <td rowspan="2">在社時間</td>
                <td rowspan="2">備考</td>
                <td rowspan="2">日付</td>
                <td rowspan="2">曜日</td>
                <td colspan="2">出社</td>
                <td colspan="2">退社</td>
                <td rowspan="2">在社時間</td>
                <td rowspan="2">備考</td>
              </tr>
              <tr>
                <td>時</td>
                <td>分</td>
                <td>時</td>
                <td>分</td>
                <td>時</td>
                <td>時</td>
                <td>分</td>
              </tr>
            </thead>
            <% @attendances.each do |attendance| %>
              <tbody>
                <td><%= "#{approval_attendance_data(attendance).day.month}/#{approval_attendance_data(attendance).day.day}" %></td>
                <td><%= @week[approval_attendance_data(attendance).day.wday] %></td>
                <td><%= approval_arrival_hour(attendance) %></td>
                <td><%= approval_arrival_min(attendance) %></td>
                <td><%= approval_leave_hour(attendance) %></td>
                <td><%= approval_leave_min(attendance) %></td>
                <td><%= living_at(attendance) %></td>
                <td><%= attendance.remark %></td>
                <td><%= "#{attendance.day.month}/#{attendance.day.day}" %></td>
                <td><%= @week[attendance.day.wday] %></td>
                <td><%= attendance.arrival.strftime("%H") %></td>
                <td><%= attendance.arrival.strftime("%M") %></td>
                <td><%= attendance.leave.strftime("%H") %></td>
                <td><%= attendance.leave.strftime("%M") %></td>
                <td><%= ((attendance.leave-attendance.arrival)/3600).floor(2).to_f %></td>
                <td><%= attendance.remark %></td>
              </tbody>
            <% end %>
          </table>  
      </div>
    </div>  
  </div>
<% else %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-title">
          <h2>修正した勤怠情報ははありません</h2>
        </div>
      </div>
    </div>
  </div>  
<% end %>  