<% provide(:title, @user.name) %>
<div class="row">
  <table class="table table-bordered">
    <tr>
      <td>
        <button href="#" type="button" class="btn btn-default btn_key">←</button>
        <p><%= DateTime.now.strftime("%Y年%m月") %>　時間管理表</p>
        <button href="#" type="button" class="btn btn-default btn_key">→</button>
      </td>
      <td width="250px">指定時間勤務</td>
      <td colspan="3">基本時間</td>
      <td width="150px">初日<%= DateTime.now.beginning_of_month.strftime("%m/%d") %></td>
    </tr>
    <tr>
      <td>所属　<%= @user.affiliation %></td>
      <td width="250px">氏名　<%= @user.name %></td>
      <td width="60px">コード</td>
      <td width="10px"></td>
      <td width="180px">出勤日数</td>
      <td width="150px">締め<%= DateTime.now.end_of_month.strftime("%m/%d") %></td>
    </tr>
  </table>
  
  <button href="#" type="button" class="btn btn-default">勤怠を編集</button>
  
  <table class="table table-bordered">
    <tr>
      <td rowspan="2">日付</td>
      <td rowspan="2">曜日</td>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2" width="150px">在社時間</td>
      <td rowspan="2">備考</td>
      <td rowspan="2" width="150px">残業指示</td>
      <td rowspan="2" width="350px">指示者</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td width="150px"></td>
      <td>時</td>
      <td>分</td>
      <td width="10px"></td>
    </tr>
    <% @d.each do |d| %>
      <tr>
        <td><%= d %></td>
        <td></td>
        <td></td>
        <td width="150px"></td>
        <td></td>
        <td></td>
        <td width=10px""></td>
        <td></td>
        <td width="150px"></td>
        <td width="350px"></td>
        <td width="150px"></td>
        <td width="350px"></td>
      </tr>
    <% end %>  
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td width="150px"></td>
      <td></td>
      <td></td>
      <td width=10px""></td>
      <td></td>
      <td width="150px"></td>
      <td width="350px"></td>
      <td width="150px"></td>
      <td width="350px"></td>
    </tr>
  </table>
</div>