<% provide(:title, @user.name) %>
<div class="row">
  <table class="table table-bordered">
    <tr>
      <td>
        <%= link_to "←", user_path(para: @date.prev_month), {:class => "btn btn-default btn_key"} %>
        <p><%= @date.strftime("%Y年%m月") %>　時間管理表</p>
        <%= link_to "→", user_path(para: @date.next_month), {:class => "btn btn-default btn_key"} %>
      </td>
      <td width="250px">指定時間勤務</td>
      <td colspan="3">基本時間</td>
      <td width="150px">初日<%= @fd.strftime("%m/%d") %></td>
    </tr>
    <tr>
      <td>所属　<%= @user.affiliation %></td>
      <td width="250px">氏名　<%= @user.name %></td>
      <td width="60px">コード</td>
      <td width="10px"></td>
      <td width="180px">出勤日数</td>
      <td width="150px">締め<%= @ed.strftime("%m/%d") %></td>
    </tr>
  </table>
  
  <button href="#" type="button" class="btn btn-default">勤怠を編集</button>
  
  <table class="table table-bordered">
    <tr>
      <td rowspan="2">日付</td>
      <td rowspan="2">曜日</td>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2" width="150px">在社時間</td>
      <td rowspan="2">備考</td>
      <td rowspan="2" width="150px">残業指示</td>
      <td rowspan="2" width="350px">指示者</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td width="150px"></td>
      <td>時</td>
      <td>分</td>
      <td width="10px"></td>
    </tr>
    <% @d.zip(@w).each do |d, w| %>
      <tr>
        <td width="100px"><%= d %></td>
        <td width="100px"><%= w %></td>
        <td><%=  %></td>
        <td width="150px"></td>
        <td><%= button_to "出社", attendances_path(attendance: {user_id: current_user.id, arrival: @date}, day: @date), {:class => "btn btn-default btn_key" }%></td>
        <td></td>
        <td></td>
        <td width=10px""></td>
        <td></td>
        <td width="150px"></td>
        <td width="350px"></td>
        <td width="150px"></td>
        <td width="350px"></td>
      </tr>
    <% end %>  
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td width="150px"></td>
      <td></td>
      <td></td>
      <td width=10px""></td>
      <td></td>
      <td width="150px"></td>
      <td width="350px"></td>
      <td width="150px"></td>
      <td width="350px"></td>
    </tr>
  </table>
</div>