<% if logged_in? %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <td>
          <%= link_to "←", user_path(date: @date.prev_month), class: "btn btn_default btn_key" %>
          <p><%= @date.strftime("%Y年%m月") %>　時間管理表</p>
          <%= link_to "→", user_path(date: @date.next_month), class: "btn btn_default btn_key" %>
        </td>
        <td width="250px">指定勤務開始時間 <%= starting_hour %><br>
                          指定勤務終了時間 <%= finishing_hour %></td>
        <td colspan="3">基本勤務時間 <%= basic_working_hour %></td>
        <td width="150px">初日<%= @fd.strftime("%m/%d") %></td>
      </tr>
      <tr>
        <td>所属　<%= @user.affiliation %></td>
        <td width="250px">氏名　<%= @user.name %></td>
        <td width="60px">コード</td>
        <td width="10px"><%= @user.employee_number %></td>
        <td width="180px">出勤日数 <%= @hours.length %>日</td>
        <td width="150px">締め<%= @ed.strftime("%m/%d") %></td>
      </tr>
    </table>
    <%= link_to "【所属長承認のお知らせ】", "#", class: "info" %><br>
    
    <%= link_to "【勤怠変更申請のお知らせ】", modal_user_attendances_revise_path(user_id: @user), remote: true, class: "info" %>
    <div id="revise-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <% if @user.requesters.present? %>
      <p class="flash"><%= @user.requesters.count %>件のお知らせ</p><br>
    <% end %>
    <%= link_to "【残業申請のお知らせ】", user_overtime_path(user_id: @user), remote: true, class: "info" %><br>
    <%= link_to "勤怠を編集", new_user_attendances_revise_path(@user, date: @date), class: "btn btn_default" %>
    <%= link_to "CSV出力", "#", class: "btn btn_default btn_key" %><br>
    <%= link_to "勤怠修正ログ(承認済み)", "#", class: "btn btn_default btn_key block_btn" %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td rowspan="3" class="td_bottom">残業申請</td>
          <td rowspan="3" class="td_bottom">日付</td>
          <td rowspan="3" class="td_bottom">曜日</td>
          <td colspan="8">【実績】</td>
          <td colspan="12">所定外勤務</td>
        </tr>
        <tr>
          <td colspan="3">出社</td>
          <td colspan="3">退社</td>
          <td rowspan="2" class="td_bottom">在社時間</td>
          <td rowspan="2" class="td_bottom">備考</td>
          <td colspan="2">終了予定時間</td>
          <td colspan="4" rowspan="2" class="td_bottom">時間外時間</td>
          <td colspan="4" rowspan="2" class="td_bottom">業務処理内容</td>
          <td colspan="4" rowspan="2" class="td_bottom">指示者確認</td>
        </tr>
        <tr>
          <td colspan="1">時</td>
          <td colspan="1">分</td>
          <td colspan="1"></td>
          <td colspan="1">時</td>
          <td colspan="1">分</td>
          <td colspan="1"></td>
          <td colspan="1">時</td>
          <td colspan="1">分</td>
        </tr>
      </thead>
      <tbody>
      <% @d.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", new_user_overtime_path(user_id: @user, day: day), remote: true, class: "btn btn_default btn_key"%></td>
          <div id="overtime-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" ></div>
          <td><%= day.strftime("%m/%d") %></td>
          <td><%= day.strftime("#{@wd[day.wday]}") %></td>
          <td>
            <% if not @user.normal_arrival(day).nil? %>
            <%= arrival_hour(day) %>
            <% end %>
          </td>
          <td>
            <% if not @user.normal_arrival(day).nil? %>
            <%= arrival_min(day) %>
            <% end %>
          </td>
          <td>
            <% if day == Date.today && @user.normal_arrival(day).nil? %>
              <%= button_to "出社", user_attendances_path( 
                                    user_id: @user, day: @date), class: "btn btn_default btn_key" %>
            <% end %>
          </td>
          <td>
            <% if not @user.normal_leave(day).nil?  %>
            <%= leave_hour(day) %>
            <% end %>
          </td>
          <td>
            <% if not @user.normal_leave(day).nil? %>
            <%= leave_min(day) %>
            <% end %>
          </td>
          <td>
            <% if day == Date.today && @user.normal_arrival(day).present? && @user.normal_leave(day).nil?  %>
              <%= button_to "退社", user_attendances_path( 
                                    user_id: @user, day: @date), class: "btn btn_default btn_key" %>
            <% end %>
          <td><%= duty_hour(day) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="4"></td>
          <td colspan="4"></td>
          <td colspan="4">
            <% if @user.normal_applications.find_by(day: day)&.state == "申請中" %>
              <p>勤怠編集申請中</p>
            <% elsif @user.normal_applications.find_by(day: day)&.state == "承認"%>
              <p>勤怠編集承認済</p>
            <% elsif  @user.normal_applications.find_by(day: day)&.state == "否認" %>
              <p>勤怠編集否認</p>
            <% end %>
          </td>  
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><%= basic_total_hour %></td>
          <td colspan="7"></td>
          <td rowspan="2"><%= total_hour %></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td colspan="4"></td>
          <td colspan="4"></td>
          <td colspan="4">
            所属長承認 未
            <%= form_for(@user) do |f| %>
              <%= f.select :name, @sperior_users.map{|t| [t.name, t.sperior]}, include_blank: true %>
              <%= f.submit "申請", class: "btn btn_default btn_key" %>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<% else %>
  <% render "static_pages/home" %>
<% end %>