<% if logged_in? %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <td>
          <%= link_to "←", user_path(date: @date.prev_month), {:class => "btn btn-default btn_key"} %>
          <p><%= @date.strftime("%Y年%m月") %>　時間管理表</p>
          <%= link_to "→", user_path(date: @date.next_month), {:class => "btn btn-default btn_key"} %>
        </td>
        <td width="250px"><%= specified_working_hours %></td>
        <td colspan="3"><%= basic_working_hours %></td>
        <td width="150px">初日<%= @fd.strftime("%m/%d") %></td>
      </tr>
      <tr>
        <td>所属　<%= @user.affiliation %></td>
        <td width="250px">氏名　<%= @user.name %></td>
        <td width="60px">コード</td>
        <td width="10px"></td>
        <td width="180px">出勤日数 <%= attendance_days %>日</td>
        <td width="150px">締め<%= @ed.strftime("%m/%d") %></td>
      </tr>
    </table>
  
    <%= link_to "勤怠を編集", edit_attendance_path(@user, date: @date), {:class => "btn btn-default"} %>
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td rowspan="2">日付</td>
          <td rowspan="2">曜日</td>
          <td colspan="3">出社</td>
          <td colspan="3">退社</td>
          <td rowspan="2">在社時間</td>
          <td rowspan="2">備考</td>
          <td rowspan="2">残業指示</td>
          <td rowspan="2">指示者</td>
        </tr>
        <tr>
          <td width="64">時</td>
          <td width="64">分</td>
          <td width="71"></td>
          <td width="64">時</td>
          <td width="64">分</td>
          <td width="71"></td>
        </tr>
      </thead>
      <tbody>
      <% @d.each do |d| %>
        <tr>
          <td><%= d.strftime("%m/%d") %></td>
          <td><%= d.strftime("#{@wd[d.wday]}") %></td>
          <td>
            <% if @user.attendances.find_by(day: d) %>
            <%= arrival_hour(d) %>
            <% end %>
          </td>
          <td>
            <% if @user.attendances.find_by(day: d) %>
            <%= arrival_min(d) %>
            <% end %>
          </td>
          <td>
            <% if d == Date.today && @user.attendances.find_by(user_id: @user, day: d).arrival.nil? %>
              <%= button_to "出社", attendances_path(attendance: {user_id: @user, arrival: DateTime.now, day: @date}), {:class => "btn btn-default btn_key" }%>
            <% end %>
          </td>
          <td>
            <% if @user.attendances.find_by(day: d)  %>
            <%= leave_hour(d) %>
            <% end %>
          </td>
          <td>
            <% if @user.attendances.find_by(day: d) %>
            <%= leave_min(d) %>
            <% end %>
          </td>
          <td>
            <% if d == Date.today && Attendance.find_by(user_id: @user, day: d).arrival && Attendance.find_by(user_id: @user, day: d).leave.nil?  %>
              <%= button_to "退社", attendances_path(attendance: {user_id: @user, leave: DateTime.now, day: @date}), {:class => "btn btn-default btn_key" }%></td>
            <% end %>
          <td><%= duty_hour(d) %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><%= basic_working_hours * @hours.length %></td>
          <td colspan="6"></td>
          <td rowspan="2"><%= total_hour %></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
          <td rowspan="2"></td>
        </tr>
      </tfoot>  
    </table>
  </div>
<% else %>
  <% render "static_pages/home" %>
<% end %>