<% provide(:title, "基本情報編集") %>
<div class="row">
  <h1>基本情報の更新</h1>
    <%= form_for(@basictime, url: basictime_path, class: "form-control") do |f| %>
      <%= hidden_field_tag :id, @basictime.id %>
      <%= f.label :starting_work_at %>
      <%= f.time_field :starting_work_at, class: "form-controll" %>
      <%= f.label :finishing_work_at %>
      <%= f.time_field :finishing_work_at, class: "form-controll" %>
      <%= f.label :basic_working_hours %>
      <%= f.time_field :basic_working_hours, class: "form-controll" %>
      <%= f.submit "編集", class: "btn btn-primary" %>
    <% end %>
</div>