<div class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
    <div class="modal-body">
      <% @users.each do |u| %>
        <h2 class="modal-title">【<%= u.name %>からの勤怠申請変更】</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td rowspan="3">日付</td>
              <td rowspan="3">曜日</td>
              <td colspan="4">変更前</td>
              <td colspan="4">変更後</td>
              <td rowspan="3">備考</td>
              <td rowspan="3">指示者確認印</td>
              <td rowspan="3">変更</td>
              <td rowspan="3">勤怠を確認する</td>
            </tr>
            <tr>
              <td colspan="2">出社</td>
              <td colspan="2">退社</td>
              <td colspan="2">出社</td>
              <td colspan="2">退社</td>
            </tr>
            <tr>
              <td>時</td>
              <td>分</td>
              <td>時</td>
              <td>分</td>
              <td>時</td>
              <td>分</td>
              <td>時</td>
              <td>分</td>
            </tr>
          </thead>
          <tbody>
            <% u.revise_applications.each do |r| %>
              <tr>
                <td><%= revise_day(r) %></td>
                <td><%= revise_week(r, @wd) %></td>
                <td><%= normal_arrival_hour(u, r) %></td>
                <td><%= normal_arrival_min(u, r) %></td>
                <td><%= normal_leave_hour(u, r) %></td>
                <td><%= normal_leave_min(u, r) %></td>
                <td><%= revise_arrival_hour(r) %></td>
                <td><%= revise_arrival_min(r) %></td>
                <td><%= revise_leave_hour(r) %></td>
                <td><%= revise_leave_hour(r)%></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= link_to "確認", "#", class: "btn btn_default btn_key" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <%= button_to "変更を送信する", "#", class: "btn btn_default btn_modal" %>
  </div>
</div>