<div class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
      <%= form_for(@user, url: user_normal_path(@user), html: {method: "put"}, class: "form-control") do |f| %>
        <div class="modal-body">
          <% @users.each do |user| %>
            <h2 class="modal-title">【<%= user.name %>からの勤怠申請変更】</h2>
            <table class="table table-bordered table-striped">
              <thead>
            <tr>
              <td rowspan="3">日付</td>
              <td rowspan="3">曜日</td>
              <td colspan="4">変更前</td>
              <td colspan="4">変更後</td>
              <td rowspan="3">備考</td>
              <td rowspan="3">指示者確認印</td>
              <td rowspan="3">変更</td>
              <td rowspan="3">勤怠を確認する</td>
            </tr>
            <tr>
              <td colspan="2">出社</td>
              <td colspan="2">退社</td>
              <td colspan="2">出社</td>
              <td colspan="2">退社</td>
            </tr>
            <tr>
              <td>時</td>
              <td>分</td>
              <td>時</td>
              <td>分</td>
              <td>時</td>
              <td>分</td>
              <td>時</td>
              <td>分</td>
            </tr>
          </thead>
              <tbody>
                <% user_apploy_to_srerior(user).each do |revise| %>
                  <%= fields_for "revise[]", @attendance do |t| %>
                    <%= t.hidden_field :user_id, value: user.id %>
                    <%= t.hidden_field :day, value: revise.day %>
                    <%= t.hidden_field :arrival, value: revise.arrival %>
                    <%= t.hidden_field :leave, value: revise.leave %>
                    <%= t.hidden_field :sperior_id, value: revise.sperior_id %>
                    <tr>
                      <td><%= revise_day(revise) %></td>
                      <td><%= revise_week(revise, @wd) %></td>
                      <td><%= normal_arrival_hour(user, revise) %></td>
                      <td><%= normal_arrival_min(user, revise) %></td>
                      <td><%= normal_leave_hour(user, revise) %></td>
                      <td><%= normal_leave_min(user, revise) %></td>
                      <td><%= revise_arrival_hour(revise) %></td>
                      <td><%= revise_arrival_min(revise) %></td>
                      <td><%= revise_leave_hour(revise) %></td>
                      <td><%= revise_leave_min(revise)%></td>
                      <td><%= revise.remark %></td>
                      <td><%= t.select :state, Attendance.states.map{|k, v| [k, k]} %></td>
                      <td></td>
                      <td><%= button_to "確認", "#", class: "btn btn_default btn_key" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <%= f.submit "変更を送信する",  class: "btn btn_default btn_modal" %>
      <% end %>
  </div>
</div>