<% if not @applications.blank? %>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@attendance, url: user_normal_path(@user), html: {method: "put"}, class: "form-control") do |f| %>
        <div class="modal-body">
          <% @users.each do |user| %>
            <% if user.revise_applications.present? %>
              <h2 class="modal-title">【<%= user.name %>からの勤怠変更申請】</h2>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td rowspan="3">日付</td>
                    <td rowspan="3">曜日</td>
                    <td colspan="4">変更前</td>
                    <td colspan="4">変更後</td>
                    <td rowspan="3">備考</td>
                    <td rowspan="3">指示者確認印</td>
                    <td rowspan="3">変更</td>
                    <td rowspan="3">勤怠を確認する</td>
                  </tr>
                  <tr>
                    <td colspan="2">出社</td>
                    <td colspan="2">退社</td>
                    <td colspan="2">出社</td>
                    <td colspan="2">退社</td>
                  </tr>
                  <tr>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                  </tr>
                </thead>
                <tbody>
                  <% user_apploy_to_srerior(user).each do |revise| %>
                    <%= fields_for "revise[]", @attendance do |t| %>
                      <%= t.hidden_field :user_id, value: user.id %>
                      <%= t.hidden_field :day, value: revise.day %>
                      <%= t.hidden_field :arrival, value: revise.arrival %>
                      <%= t.hidden_field :leave, value: revise.leave %>
                      <%= t.hidden_field :sperior_id, value: revise.sperior_id %>
                      <tr>
                        <td><%= revise_day(revise) %></td>
                        <td><%= revise_week(revise, @wd) %></td>
                        <td><%= normal_arrival_hour(user, revise) %></td>
                        <td><%= normal_arrival_min(user, revise) %></td>
                        <td><%= normal_leave_hour(user, revise) %></td>
                        <td><%= normal_leave_min(user, revise) %></td>
                        <td><%= revise_arrival_hour(revise) %></td>
                        <td><%= revise_arrival_min(revise) %></td>
                        <td><%= revise_leave_hour(revise) %></td>
                        <td><%= revise_leave_min(revise)%></td>
                        <td><%= revise.remark %></td>
                        <td><%= t.select :state, Attendance.states.map{|k, v| [k, k]} %></td>
                        <td><%= t.check_box :change_state, {multiple: true}, true, false %></td>
                        <td><%= link_to "確認", {controller: "attendances", action: "check", user_id: user.id, day: revise.day}, 
                                                                                                    class: "btn btn_default btn_modal" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            <% end %>  
          <% end %>
          <%= f.submit "変更を送信する",  class: "btn btn_default btn_modal" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-title">
          <h2>勤怠変更申請ははありません</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>