<% provide(:title, @user.name) %>
<div class="row">
  <%= form_for(@user, url: user_attendances_revise_path(date: @date), html: {method: "post"}, class: "form-control") do |f| %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>日付</td>
          <td>曜日</td>
          <td colspan="3">出社</td>
          <td colspan="3">退社</td>
          <td>翌日</td>
          <td colspan="2">在社時間</td>
          <td colspan="2">備考</td>
          <td colspan="2">指示者</td>
        </tr>
      </thead>
      <tbody>
        <% @d.each do |d| %>
          <tr>
            <td><%= d.strftime("%m/%d") %></td>
            <td><%= d.strftime("#{@wd[d.wday]}") %></td>
            <td colspan="3">
              <%= f.fields_for :revise_applications, @user.normal_applications.find_by(day: d) do |t| %>
                <%= t.hidden_field :user_id, value: @user.id %> 
                <%= t.hidden_field :day, value: d %>
                <%= t.hidden_field :atate, value: "申請中" %>
                <%= t.time_field :arrival, class: "form-control" %>
            </td>
            <td colspan="3">
                <%= t.time_field :leave, class: "form-control" %>
            </td>
            <td><%= t.check_box :yesterday_state, {multiple: true}, true, false %></td>
            <td colspan="2"></td>
            <td colspan="2">
              <%= t.text_field :remark, class: "form-control" %>
            </td>
            <td colspan="2">
                <%= t.select :sperior_id, sperior_users(@sperior_users), include_blank: true, class: "form-control" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="form-btn-wrapper">
        <%= link_to "キャンセル", @user, {:class => "btn btn_default btn_key" } %>
        <%= f.submit "編集を保存する", class: "btn btn_default btn_key" %>
      </div>
  <% end %>
</div>