<% provide(:title, @user.name) %>
<div class="row">
  <%= form_for(@user, url: attendance_path(@user), class: "form-control") do |f| %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>日付</td>
          <td>曜日</td>
          <td colspan="3">出社</td>
          <td colspan="3">退社</td>
          <td colspan="2">在社時間</td>
          <td colspan="2">備考</td>
          <td colspan="2">残業指示</td>
          <td colspan="2">指示者</td>
        </tr>
      </thead>
      <tbody>
        <% @d.each do |d| %>
          <tr>
            <td><%= d.strftime("%m/%d") %></td>
            <td><%= d.strftime("#{@wd[d.wday]}") %></td>
            <td colspan="3">
              <%= f.fields_for :attendances, @user.attendances.find_by(day: d) do |t| %>
                <%= t.time_field :arrival, class: "form-control" %>
            </td>
            <td colspan="3">
                <%= t.time_field :leave, class: "form-control" %>
              <% end %>
            </td>
            <td colspan="2"></td>
            <td colspan="2">
              <input type="text" class="form-control">
            </td>
            <td colspan="2">
              <input type="text" class="form-control">
            </td>
            <td colspan="2">
              <input type="text" class="form-control">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="form-btn-wrapper">
        <%= link_to "キャンセル", @user, {:class => "btn btn-default btn_key form-btn" } %>
        <%= f.submit "編集を保存する", class: "btn btn-default btn_key form-btn" %>
      </div>
  <% end %>
</div>