<% provide(:title, @user.name) %>
<div class="row">
  <%= form_for(@user, url: user_attendances_path, html: {method: "post"}, class: "form-control") do |f| %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>日付</td>
          <td>曜日</td>
          <td colspan="3">出社</td>
          <td colspan="3">退社</td>
          <td>翌日</td>
          <td colspan="2">在社時間</td>
          <td colspan="2">備考</td>
          <td colspan="2">指示者</td>
        </tr>
      </thead>
      <tbody>
        <% @d.each do |d| %>
          <%= form_for(@attendance, url: user_attendances_path) do |f| %>
            <%= f.time_field :arrival, value: @user.normal_applications.find_by(day: d)&.arrival&.strftime("%H:%M:%S") %>
            <%= f.submit "save" %>
          <% end %>
          <tr>
            <td><%= d.strftime("%m/%d") %></td>
            <td><%= d.strftime("#{@wd[d.wday]}") %></td>
            <td colspan="3">
              <%= f.fields_for :revise_applications, @user.normal_applications.find_by(day: d) do |t| %>
                <%= t.time_field :arrival, class: "form-control" %>
            </td>
            <td colspan="3">
                <%= t.time_field :leave, class: "form-control" %>
            </td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="2">
              <input type="text" class="form-control">
            </td>
            <td colspan="2">
                <%= t.select :sperior_id, @sperior_users.map {|u| [u.name, u.id]}, include_blank: true %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="form-btn-wrapper">
        <%= link_to "キャンセル", @user, {:class => "btn btn-default btn_key form-btn" } %>
        <%= f.submit "編集を保存する", class: "btn btn-default btn_key form-btn" %>
      </div>
  <% end %>
</div>

